.todo-row {
    padding: 0.375rem 0.5rem;
    border-radius: var(--rz-border-radius);
}

.todo-row-title {
    cursor: pointer;
}

.todo-row-selected {
    background-color: var(--rz-primary-lighter);
}

.todo-item-done {
    text-decoration: line-through;
    color: var(--rz-text-disabled-color);
}
